.result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 0.5rem $white;
    border-radius: 1rem;
    .result-end {
        display: block;
    }
}